<style>
    .page-footer{
        width: 100%;
        background-color: #3d4045;
        height: 40px;        
        position:fixed;
        bottom:0px;
        left:0px;
        right:0px;
        margin-bottom:0px;
        z-index: 9999;
    }
    .footer-message{
        color:white;
        padding-left: 20px;
        padding-top: 10px;
        font-weight: 500;
    }
</style>


<div class="page-footer">

    <label class="footer-message">Persistent Systems Ltd. &copy; 2017. All rights reserved.</label>

</div>