<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    #sendCoins{
        margin-top: 60px;
    } 	
    .no-padding{
        padding :0px;
        margin:0px;
    }
	.abc{
        height:100%;
    }
    
</style>
    <div id="sendCoins" >
        <div class="abc col-xs-12 col-md-offset-3 col-md-6 ">  
        <div class="panel panel-default no-padding  ">
          <div class="panel-heading">Select User</div>
          <div class="panel-body">Panel Content</div>
          <div class="panel-footer">Panel Footer</div>
        </div>
        </div>
    </div>


